<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>California Resources</title>
	<link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Resources in California</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/visitors">Home <span class="sr-only">(current)</span></a>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<div class="posts">
		<form action="/california" method="POST">
			<input required type="text" name="title" placeholder="title">
			<br>
			
			<br>
			<textarea name="content" id="" cols="30" rows="10" placeholder="post"></textarea>
			<br>
			<br>
			<button>post</button>

		</form>
		<div class="editcontent">
			<% california.forEach(function(cal){%>
			<div>
				<p>Title : <%=cal.title%></p>
				<p>Post : <%=cal.content%></p>

				<%if(user.id===cal.user.id){%>
				<form action="/californina/<%=cal._id%>/edit" method="POST">
					<textarea name="Econtent" class="one" placeholder="Edit content"></textarea>
					<button>Edit</button>
				</form>
				
				<form action="/california/<%=cal._id%>" method="POST">
					<button>DELETE</button>
				</form>
				
				<form action="/california/<%=cal._id%>" method="POST">
					<textarea name="comment" class="commentOne"></textarea>
				</form>
				<%}%>

				<br><br><br>
			</div>
			<% });%>
		</div>

	</div>
</body>

</html>